html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  position: relative;
}

.main-body {
  width: inherit;
  height: 2000px;
  /* padding: 0 200px; */
  /* background: rgb(253, 246, 246); */
  font-family: "Open Sans", "Segoe UI", sans-serif, Arial;
  color: #242424;
}

/*============================================
         main-info
=============================================*/

.main-info {
  width: inherit;
  height: 600px;
  margin: 50px 0 10px 0;
  /* padding: 0 200px; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/*********************************
	     main-info__container
**********************************/

.main-info__container {
  display: flex;
  justify-content: center;
  width: 1504px;
  min-width: 1504px;
  height: inherit;
  margin: 0 auto;
}

/*********************************
	     left-column-pucture
**********************************/

.left-column-pucture {
  width: inherit;
  width: 420px;
}

.book-image {
  position: absolute;
  right: 30px;
  top: 0;

  display: block;
}

/*********************************
	     right-column-pucture
**********************************/
/* .right-column-pucture {
  width: inherit;
  height: 580px;
} */

.book-title {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 23px;
}

/*********************************
	     detail-information
**********************************/

.detail-information {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: inherit;
  height: 50px;
  margin: 10px 0;

  font-size: 13px;
}

/*---------------------*\
      rating-block
\*---------------------*/

.rating-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 240px;
  height: 50px;
}

.rating-left {
  width: 60px;
  height: inherit;
}

.rating-left-title {
  font-size: 12px;

  color: rgb(140, 140, 140);
}

.rating-num {
  width: 48px;
  height: 32px;

  text-align: center;
  line-height: 32px;
  font-weight: 400;
  font-size: 18px;

  color: white;
  background: linear-gradient(to bottom right, #ffd000, #ff6600);
}

.rating-right {
  width: 160px;
  height: inherit;
}

.rating-right-title {
  font-size: 11px;
  text-align: center;

  color: black;
}

.rating-right-user-rate {
  margin-top: 11px;
}

.rating-right-user-rate span {
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  background-image: url("/image/RaitingStars/empty-star.gif");

  cursor: pointer;
}

.rating-right-user-rate .active-star {
  background-image: url("/image/RaitingStars/full-star.gif");
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten {
  font-size: 0;
}

.one:after {
  content: "Хуже не бывает";
}
.two:after {
  content: "Очень плохо";
}
.three:after {
  content: "Плохо";
}
.four:after {
  content: "Ниже среднего";
}
.five:after {
  content: "Средне";
}
.six:after {
  content: "Выше среднего";
}
.seven:after {
  content: "Нормально";
}
.eight:after {
  content: "Хорошо";
}
.nine:after {
  content: "Отлично";
}
.ten:after {
  content: "Лучше не бывает!";
}

.one:after,
.two:after,
.three:after,
.four:after,
.five:after,
.six:after,
.seven:after,
.eight:after,
.nine:after,
.ten:after {
  position: relative;
  top: 0;
  left: 0;

  display: block;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-align: center;

  color: black;
}

/*---------------------*\
    availability
\*---------------------*/

.availability {
  width: 120px;
  height: 30px;

  color: #6ebc63;
}

.availability .sign {
  top: 50%;
  left: 0;

  font-weight: bolder;
}

.availability .text {
  top: 55%;
  left: 25px;
}

.availability .sign,
.availability .text {
  position: absolute;
  transform: translate(0, -50%);
}

/*---------------------*\
      share-book
\*---------------------*/

.share-book {
  width: 120px;
  height: 30px;

  color: #3d70b2;
}

.share-book .text {
  position: absolute;
  top: 50%;

  display: block;

  transform: translate(0, -50%);
}

.share-book .text:after {
  content: "\f064";
  font-family: FontAwesome;

  position: absolute;
  left: -25px;
  top: 50%;

  transform: translate(0, -50%);
}

/*---------------------*\
      to-wish-list
\*---------------------*/

.to-wish-list {
  width: 150px;
  height: 30px;

  color: #3d70b2;
}

.to-wish-list:hover .text:before {
  content: "\f02e";
  font-family: FontAwesome;

  position: absolute;
  left: -25px;
  top: 50%;

  color: gray;

  transform: translate(0, -50%);
}

.to-wish-list .text {
  position: absolute;
  top: 50%;

  display: block;

  transform: translate(0, -50%);
}

.to-wish-list .text:before {
  content: "\f097";
  font-family: FontAwesome;

  position: absolute;
  left: -25px;
  top: 50%;

  color: #3d70b2;

  transform: translate(0, -50%);
}

/*********************************
	     preview-inforamtion
**********************************/

.preview-inforamtion {
  width: inherit;
  height: 200px;

  padding: 20px;

  background: #f2f9fa;
}

/*---------------------*\
     price-book
\*---------------------*/

.preview-inforamtion .price-book {
  display: flex;
  align-items: center;

  width: inherit;
  height: 40px;
}

.preview-inforamtion .current-price {
  width: 70px;
  height: 30px;
  margin-top: 10px;

  font-size: 20px;
}

.preview-inforamtion .current-price span {
  font-weight: bold;
  font-size: 20px;
}

.preview-inforamtion .discount {
  width: 100px;
  height: 22px;
  margin-left: 15px;

  font-size: 14px;
  line-height: 22px;
  text-align: center;

  background: #ff6564;
  color: white;
  border-radius: 4px;
}

.preview-inforamtion .old-price {
  margin-left: 20px;

  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: currentColor;

  color: #828282;
}

.preview-inforamtion .purchase-total {
  position: absolute;
  right: 10px;
  font-size: 13px;
}

.preview-inforamtion .purchase-total:after {
  content: "\f217";
  font-family: FontAwesome;

  position: absolute;
  left: -20px;
  top: 50%;

  color: #828282;

  transform: translate(0, -50%);
}

/*---------------------*\
     
\*---------------------*/

.add-to-cart {
  display: block;
  width: 210px;
  height: 40px;
  margin-top: 15px;

  text-align: center;
  line-height: 40px;

  background: #6ebc63;
  color: white;
  border-radius: 4px;
}
.add-to-cart:hover {
  background-color: rgb(90, 156, 81);
}

.delivary {
  margin-top: 20px;
}

.delivary:after {
  content: "\f0d1";
}

.issue-point {
  margin-top: 10px;
}
.issue-point:after {
  content: "\f1b2";
}

.issue-point:after,
.delivary:after {
  font-family: FontAwesome;

  position: absolute;
  left: -20px;
  top: 50%;

  color: #828282;

  transform: translate(0, -50%);
}

.issue-point,
.delivary {
  margin-left: 20px;

  font-size: 13px;

  color: #242424;
}

/*********************************
	     tab-switcher
**********************************/

.tab-switcher {
  width: 831px;
  height: 270px;
  margin-top: 10px;

  font-family: "Open Sans", "Segoe UI", sans-serif, Arial !important;
  color: #242424;
  font-size: 14px;
}

/*---------------------*\
        tab-nav
\*---------------------*/

.tab-nav {
  width: 829;
  height: 40px;
  border: rgb(235, 235, 235) solid 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.link-character {
  border-top-left-radius: 4px;
}

.link-payment {
  border-left: rgb(235, 235, 235) solid 1px;
  border-right: rgb(235, 235, 235) solid 1px;
}

.link-delivary {
  border-top-right-radius: 4px;
  width: 277px !important;
}

.link-character,
.link-payment,
.link-delivary {
  display: block;
  float: left;
  width: 276px;
  height: 39px;

  text-align: center;
  line-height: 39px;

  background: rgb(247, 247, 247);
  border-bottom: rgb(235, 235, 235) solid 1px;
  color: #242424;

  cursor: pointer;
}

/*---------------------*\
        tab-list
\*---------------------*/

.tab-list {
  width: inherit;
}

.tab-item-character {
  height: 230px;
  padding-left: 87px;

  columns: 2 auto;
}

.tab-item-character .tab-item-inside {
  width: 400px;
  height: auto;

  margin: 15px 0 15px;
}

.tab-item-character .tab-item-inside a {
  text-decoration: rgb(61, 112, 178) solid underline;
  color: rgb(61, 112, 178);
  /* text-decoration: initial;
  color: initial; */
}

.tab-item-payment {
  height: 370px;
}

.tab-item-payment .title {
  font-weight: bolder;
  font-size: 16px;
}

.tab-item-payment .title-inside {
  margin: 20px 0 20px;

  font-weight: bolder;
}
.after-title {
  margin-top: -20px;
}
.tab-item-delivary {
  height: 230px;
}

.table-delivary {
  border-collapse: collapse;

  font-size: 15px;
}

.table-delivary caption {
  font-weight: bold;
  text-align: left;
}

.table-delivary tr {
  height: 40px;
}

.table-delivary td {
  vertical-align: center;

  border-bottom: 1px solid #ebebeb;
}

.table-delivary td:last-child {
  font-weight: bold;
}

.table-delivary td:first-child {
  width: 230px;
}

.table-note {
  margin-top: 10px;

  font-style: italic;
}

.tab-item-delivary,
.tab-item-character,
.tab-item-payment {
  width: inherit;
  padding: 20px;

  border-right: 1px solid rgb(235, 235, 235);
  border-left: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tab-item-delivary,
.tab-item-payment {
  display: none;
}

.active-link {
  background: white;
  font-weight: bolder;
  border-bottom: none;
}

.secondTabHeight {
  height: 740px !important;
}
/*********************************
	    book-description
**********************************/

.book-description {
  /* padding: 0 200px; */

  font-weight: normal;

  background-color: rgb(242, 249, 250);
  /* height: 500px; */
}

.desription-shadow-up {
  height: 30px;

  background: linear-gradient(180deg, rgb(233, 233, 233), rgb(242, 249, 250));
}

.desription-shadow-down {
  height: 30px;

  background: linear-gradient(0, rgb(233, 233, 233), rgb(242, 249, 250));
}

.book-description > h2 {
  padding-bottom: 15px;
}

.book-description > p {
  height: 370px;
  overflow-y: hidden;
  transition-duration: 2s;
}

.book-description > p,
.book-description > h2 {
  width: 900px;
  max-width: 900px;

  margin: 0 auto;

  line-height: 28px;
}

.book-description > p {
  height: 350px;
  min-height: 350px;
}

.show-full {
  height: 30px;
  width: 180px;
  margin: 0 auto;

  color: #1868a0;
  /* text-decoration: underline dotted #1868a0; */
  border-bottom: dotted #1868a0 1px;
  text-align: center;

  cursor: pointer;
}

.show-full span {
  vertical-align: -8px;
}

.active-show {
  animation-name: show;
  animation-duration: 1s;

  animation-fill-mode: both;
}

.active-hide {
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes show {
  0% {
    height: 370px;
    min-height: 370px;
  }
  100% {
    height: 840px;
    min-height: 840px !important;
  }
}

@keyframes hide {
  0% {
    height: 840px;
    min-height: 840px !important;
  }
  100% {
    height: 370px !important;
  }
}
