/*============================================
        HEADER
=============================================*/

/*********************************
	      Top header-up
**********************************/

/*---------------------*\
        main-menu
\*---------------------*/

/*============================================
        GENERAL
=============================================*/
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

* {
  position: relative;

  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: 700;
  font-family: DisplayPro, Arial, sans-serif;

  color: rgb(0, 26, 52);
}

.header {
  border: none;
}

/* nav {
  text-align: center;
} */

a {
  text-decoration-line: none;
  color: inherit;
}

li {
  cursor: pointer;
  list-style: none;
}

/*============================================
        HEADER
=============================================*/

/*********************************
	      Top header-up-up
**********************************/

.top-header-up-up {
  width: inherit;
  height: 50px;
  padding: 0px 200px;
}

/*---------------------*\
    additional-info-list
\*---------------------*/

.additional-info-list {
  display: inline-block;

  top: 50%;
  transform: translate(0, -50%);
}

.additional-info-list > li {
  display: inline-block;
  height: inherit;
  padding: 10px;
}

.additional-info-list > li:last-child {
  padding: 5px;

  background: #e5efff;
  border-radius: 10px;
}

.additional-info-list > li:nth-child(7) {
  width: 70px;
}

/* .additional-info-list {
  width: 150px;
  background: #000;
} */

.additional-info-list > li > a {
  font-weight: 400;
  font-size: 13px;

  color: #808d9a;
}

.additional-info-list > li:hover a {
  color: #004ed6;
}

/*---------------------*\
      social-network 
\*---------------------*/

.social-network {
  position: relative;
  top: 50%;

  display: flex;
  float: right;
  justify-content: right;

  transform: translate(0, -50%);
}

.social-network a {
  padding: 15px;

  color: #808d9a;
}

.social-network a:hover {
  color: #004ed6;
}

.last-social {
  margin-right: 15px;
}

/*********************************
	      Top header-up
**********************************/

.top-header-up {
  align-items: center;
  height: 80px;
  padding: 0px 200px;

  border-bottom: 1px rgb(230, 231, 235) solid;
  border-top: 1px rgb(230, 231, 235) solid;

  /* background-color: #000000; */
}

.top-header-up .container {
  height: inherit;
  width: inherit;
}

.logo-container {
  position: absolute;
  width: 150px;
  height: 70px;

  background-image: url("../image/Logo2-empty.jpg");
  /* background-image: url("../image/Logo1-empty.jpg"); */

  background-size: contain;
  background-repeat: no-repeat;

  /*background-size: 70px 150px; */
}

.logo-container img {
  width: 150px;
  height: 150px;
}

.search-container {
  position: absolute;
  top: 50%;
  /* left: 400px; */
  left: 42%;

  /* margin: -25px 0 0 0; */
  width: 650px;
  height: 43px;

  background-color: inherit;
  color: white;

  transform: translate(-42%, -50%);
}

/*---------------------*\
      input-search
\*---------------------*/

.input-search {
  /* width: 648px; */
  width: 575px;
  height: 100%;
  padding-left: 30px;

  font-size: 16px;
  /* font-family: Roboto, Oxygen, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */

  border-radius: 4px 0 0 4px;
  border: 2px #005bff solid;
  border-right: none;
}

.input-search::placeholder {
  font-size: 14px;
  font-weight: 600;
  font-family: Open Sans, system-ui, Arial, sans-serif;
}
.input-search:focus::placeholder {
  color: #cccccc;
}

.input-search:focus {
  outline: inherit;
}

/*---------------------*\
      button-search
\*---------------------*/

.button-search {
  position: absolute;
  top: 1px;
  right: 0;

  width: 75px;
  height: 42px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;

  background: #005bff;
  color: white;
  border-width: 0px;
  border-radius: 0 3px 3px 0;
  border-top: none;
  box-shadow: none;

  cursor: pointer;
}

.button-search:hover {
  background: rgb(3, 85, 228);
  outline: none;
}

.button-search:before {
  content: "\f002";

  position: absolute;
  top: 50%;
  left: 50%;

  font-family: FontAwesome;

  color: white;

  transform: translate(-50%, -50%);
}

/*---------------------*\
     personal-list
\*---------------------*/

.personal-list {
  display: flex;
  float: right;
  justify-content: flex-end;
  align-items: center;
  width: 520px;
  height: inherit;
}

.personal-list > li {
  display: block;
  width: 120px;
  height: 60px;

  transform: translate(0, 3px);
  transition-duration: 0.2s;

  cursor: pointer;
}

.personal-list > li:hover {
  transform: translate(0, -3px);
  transition-duration: 0.2s;
}

.personal-list > li:hover,
.personal-list > li:hover a {
  color: #004ed6;
}

.personal-list > li a {
  position: absolute;
  bottom: 2px;
  left: 50%;

  display: block;

  font-size: 13px;
  font-weight: 700;
  line-height: 18px;

  /* color: rgb(0, 26, 52); */
  /* color: #001a34; */

  transform: translate(-50%, 0);
}

.user,
.wish-list,
.shopping-card,
.messages {
  position: relative;

  display: block;
  height: inherit;
  width: inherit;

  /* font-family: DisplayPro, Arial, sans-serif; */
}

.user:after,
.wish-list:after,
.shopping-card:after,
.messages:after {
  position: absolute;
  left: 50%;
  top: 5px;

  display: block;

  font-family: FontAwesome;

  color: inherit;
  /* color: #004ed6; */

  transform: translate(-50%, 0);
}

.user:after {
  content: "\f007";
}

.wish-list:after {
  content: "\f08a";
}

.shopping-card:after {
  content: "\f291";
}

.messages:after {
  content: "\f0a2";
}

/*********************************
	      Top header-down
**********************************/

.top-header-down {
  padding: 0px 200px;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid rgb(230, 231, 235);

  font-size: 14px;
  font-weight: 700;

  /* font-family: Open Sans, system-ui, Arial, sans-serif; */
}

nav {
  height: inherit;
}
/*----------------------------*\
  main-menu
\*----------------------------*/

.main-menu {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-menu > li {
  position: relative;

  padding: 0 15px;
  height: inherit;
}

.main-menu > li:first-child {
  padding-left: 7px;
}

.angle-down:after {
  content: "\f107";

  position: absolute;
  top: 50%;
  left: 90%;

  font-family: FontAwesome;

  transform: translate(0, -50%);
  transition-duration: 0.1s;
}

.main-menu li:hover a {
  color: #004ed6;
}

.main-menu li:hover:after {
  color: red;

  transition-duration: 0.1s;
  transform: rotate(180deg) translate(0, 50%);
}

.main-menu a {
  position: relative;
  top: 50%;
  left: 50%;

  display: block;

  font-size: 14px !important;

  color: rgb(54, 54, 54);

  transform: translate(-50%, -50%);
  cursor: pointer;
}

/*----------------------------*\
      style of certain submenu
\*----------------------------*/

.catalogue:after {
  left: 4px !important;
}

/* .toys {
}

.fiction {
} */

/*----------------------------*\
  submenu
\*----------------------------*/

.main-menu > li:hover .submenu {
  top: 39px;

  visibility: visible;
  opacity: 1;
  background-color: rgb(255, 255, 255);

  transition-duration: 0.3s;
}

.submenu {
  position: absolute;
  top: 140%;
  left: 0;
  z-index: 1;

  padding-left: 0;
  width: 300px;

  opacity: 0;
  visibility: hidden;
  background-color: rgb(184, 184, 184);
  color: rgb(54, 54, 54);
  box-shadow: 0 0 4px 1px gray;
}

.submenu:after {
  content: "";

  position: absolute;
  left: 13px;
  top: -9px;

  display: block;
  width: 0px;
  height: 0px;

  border-bottom: 8px solid gray;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.submenu li {
  position: relative;
  display: block;

  height: 50px;
  padding-left: 15px;

  border-bottom: 1px solid #ededed;
}

.submenu > li a {
  position: relative !important;
  left: 0px !important;
  top: 0px !important;

  display: inline;
  line-height: 50px;

  font-size: 14px;
  font-weight: 500;

  color: rgb(0, 26, 52) !important;
}

.submenu li:hover {
  background-color: rgba(73, 92, 145, 0.07);
}

.submenu li:hover > a {
  color: rgb(61, 112, 178) !important;
}

.submenu li:hover:after {
  color: red !important;
}
.angle-right:after {
  content: "\f105";

  position: absolute;
  top: 50%;
  left: 95%;

  font-family: FontAwesome;

  transform: translate(0, -50%);
  transition-duration: 0.1s;
}

/*----------------------------*\
        subsubmenu
\*----------------------------*/

.subsubmenu {
  position: absolute;
  left: 110%;
  z-index: 1;

  padding-left: 0;
  width: 300px;

  opacity: 0;
  visibility: hidden;
  background-color: rgb(184, 184, 184);
  color: rgb(54, 54, 54);
  box-shadow: 0 0 4px 1px gray;
}

.submenu > li:hover .subsubmenu {
  left: 100%;
  top: 0;

  visibility: visible;
  opacity: 1;
  background-color: rgb(255, 255, 255);

  transition-duration: 0.3s;
}

/*----------------------------*\
  school-submenu
\*----------------------------*/

.school-list-item {
  position: relative;
}

.school-list-item:hover .school-submenu {
  top: 100%;
  left: 0;

  visibility: visible;
  opacity: 1;
}

.school-submenu {
  position: absolute;
  top: 70px;
  left: 0;

  width: 400px;
  height: 350px;

  transition-duration: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.school-submenu a {
  color: rgb(54, 54, 54) !important;
}
/*----------------------------*\
  school-left-columm
\*----------------------------*/

.school-left-columm {
  display: block;
  float: left;

  width: 200px;
  height: inherit;

  left: -20px;
}

/*----------------------------*\
  school-left-content
\*----------------------------*/

.school-main-subject {
  position: relative;
  top: 10px;
  left: 14px;

  display: block;
  margin-bottom: 10px;

  text-align: left;

  font-weight: 600;
  font-size: 17px;
}

.school-left-content,
.ex {
  width: inherit;
  height: inherit;
  margin-left: 20px;
}

.school-left-content ul,
.ex ul {
  top: 10px;
}

.school-left-content ul li,
.ex ul li {
  display: block;
  height: 30px;

  height: 34px;
  text-align: left;
}

.school-left-content ul li a,
.ex ul li a {
  color: rgb(134, 134, 134);
  font-weight: 300;
  line-height: 34px;
}

.school-left-content ul li:hover a,
.ex ul li:hover a {
  color: black;
  font-weight: 400;
}
/*----------------------------*\
  school-right-columm
\*----------------------------*/

.school-right-column {
  display: block;
  float: right;
  height: inherit;
  width: 200px;
}

/*----------------------------*\
  school-right-content
\*----------------------------*/

/*----------------------------*\
  school-classes
\*----------------------------*/

/* .school-right-content {
} */

.school-classes ul {
  top: 10px;

  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* flex-grow: ;; */
  flex-flow: wrap row;
  width: 170px;
  height: 150px;

  margin: 0 auto;
}

.school-classes ul li {
  /* display: block; */

  position: relative;
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: unset;
  /* float: left; */

  border: solid #afafaf 1px;
  border-radius: 3px;
}

.school-classes ul li:hover {
  background: rgb(223, 223, 223);
}
.school-classes ul li a {
  position: absolute !important;
  /* top: 50% !important;
  left: 50% !important; */
  top: 50%;
  left: 50%;

  display: block;

  transform: translate(-50%, -50%);

  /* line-height: 30px;
  text-align: center; */
}

.classes-tittle {
  position: relative;
  display: block;
  top: 10px;
  height: 30px;
}

/*----------------------------*\
  ex ОГЭ ЕГЭ
\*----------------------------*/
.ex ul {
  top: 0px;
}

.ex ul a {
  text-align: center;
}

/* .test p {
  font-family: "DisplayPro";
} */

@font-face {
  font-family: "DisplayPro";
  src: url("../fonts/Display\ Pro.ttf");
  font-style: normal;
  font-weight: normal;
}

/*============================================
        MAIN PAGE
=============================================*/

.main-page {
  width: 100%;
  height: 1500px;

  background: grey;
}

/*********************************
	      News-block
**********************************/

.news-block {
  width: inherit;
  height: 340px;
  margin: 30px 0;
  padding: 0 200px;

  background: rgb(247, 247, 247);
}

/*---------------------*\
      news-left-colummn
\*---------------------*/

/*---------------------*\
      news-right-column
\*---------------------*/

.news-right-column {
  position: relative;

  display: block;
  float: right;
  width: 420px;
  height: inherit;
}

.news-right-column > a {
  display: block;

  width: 420px;
  height: 150px;
  /* margin: 30px 0; */
}

.news-right-column > a > img {
  /* display: block; */

  width: inherit;
  height: inherit;
}

.news-right-column > a:last-child {
  position: absolute;

  bottom: 0;
}
/* .left-main-margin {
  position: relative;
  float: left;
  z-index: 1;

  width: 200px;
  height: 1000px;

  background: gray;
}

.right-main-margin {
  position: relative;
  float: right;
  z-index: 1;

  width: 200px;
  height: 1000px;

  background: gray;
} */
